
#atvezetohatter {
    text-align: center;
    background-color: rosybrown;
}

.lefthead {
    font-size: 25px;
    margin-left: 5px;
    color: rgb(12, 87, 156);
}

body {
    background-color: rgb(10, 10, 157);
}

#cim{
    color: rgb(12, 87, 156);
    padding-top: 30px;
    text-align: center;
}

img{
    text-align: justify;
}
.egesz {
    margin: auto;
    width: 750px;
    background-color: rgb(175, 224, 241);
}

.aston {
    color: rgb(14, 103, 186);
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
    word-spacing: 1px;
    padding-bottom: 10px;
    border-bottom: 1px solid gray;
}

.autojobbra{
 float: right;
    margin-left: 20px;
    margin-top: -50px;
}

.righthead {
    font-size: 25px;
    text-align: right;
    margin-right: 5px;
    color: rgb(12, 87, 156);

}

.ferrari {

    color: rgb(14, 103, 186);
    text-align: justify;
    margin-left: 5px;
    margin-right: 7px;
    word-spacing: 1px;
    padding-bottom: 40px;
    border-bottom: 1px solid grey;
}

.autobalra{
    float: left;
    margin-right: 20px;
    margin-top: -50px;
  
}

.mazda {
    color: rgb(14, 103, 186);
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}

p {
    text-align: justify;
    max-width: 600px
}

.egyiptomihatter {
    background-image: url(assets/6_karnak/kepek/egyiptomihatter.jpg);
}

.egyiphathat {
    background-color: rgb(250, 189, 135);
    max-width: 630px;
    margin:auto;
    padding: 12px;
}

h1 {
    text-align: center;
    color: rgb(161, 3, 3);
}
h2 {
    font-size: 25px;
    text-align: center;
    color: rgb(161, 3, 3);
    word-spacing: 5px;
}

hr {
   color: rgb(161, 3, 3);
}

#hajos {
    color: rgb(161, 3, 3);
    text-align: justify;
    padding-bottom: 15px;
}

#hajoniluson {
    float: right;
    margin: 5px;
    padding: 5px;
    border: 1px dashed rgb(161, 3, 3);
}

#templom {
    color: rgb(161, 3, 3);
    text-align: justify;
    padding-bottom: 15px;

}

#karnakitemplom{
    float: left;
    margin: 10px;
    padding: 5px;
    border: 1px dashed rgb(161, 3, 3);
}